*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #0f172a;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-right: 25em;
    list-style: none;
}

nav ul a {
    color: #a1dfa1;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 20px;
    text-decoration: none;
}

nav > a {
    font-size: 32px;
    color: #a1dfa1;
    text-decoration: none;
}

section {
    color: #a1dfa1;
    padding: 10%;
}
